*.pt
*.dat
*.mat
*.npy
*.mp4
*.png
*.jpg
*.out
*.json

result/
__pycache__/
.DS_Store

# exceptions
!benchmark/wifi_csi/saved_models/THAT_best_weight_activity.pt
!benchmark/wifi_csi/saved_models/THAT_best_weight_location.pt
!benchmark/wifi_csi/saved_models/THAT_best_weight_identity.pt